.containerImgBtn {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.container {
    display: flex;
    max-width: 602px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: black;
    background-color: white;
    margin: 20px 0;
    font-family: 'Orbitron', sans-serif;
    border-radius: 6px;
    flex-direction: column;
    min-width: 400px;
}

.containerImgBtn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100px
}

.cart {
    width: 20px;
    height: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.cartDropDown {
    border: none;
    box-shadow: 0;
    border: 0;
}

.cartImg{
    justify-content: center;
    margin: auto;
    width: auto;
    max-height: 100px;
}