.viewCategoriesContainer {
  justify-content: center;
}

.viewCategories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories {
  margin: 50px auto;
}


.button {
  background: none;
}
.button:hover {
  background: none;
}