.adminUpdate {
    min-height: 120vh;
    position: relative;
}

.form {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    height: 600px;
    box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.647);
    border-radius: 40px;
    justify-content: center;
    display: block;
}