.productCreate {
    min-height: 100vh;
}

.updateProductContainer {
    display: flex;
}

.form {
    justify-content: center;
    margin: 10px auto;
    height: auto;
    max-width: 500px;
}

.cardsContainer {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.form .createButton {
    text-align: center;
}

@media only screen and (max-width: 768px) {

}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }