.admin {
    min-height: 100vh;
}

.adminContainer {
    margin: 100px auto;
    max-width: 550px;
}

.adminContainer button {
    margin: 5px;
}

.adminCard {
    align-items: center;
    height: 125px;
    border-radius: 50px;
    box-shadow: 0 0 10px .1px rgba(255, 255, 255, 0.344);
    margin: 50px;
    justify-content: center;
    text-align: center;
    display: flex;
}

a {
	text-decoration: none;
}


