.admin {
    min-height: 100vh;
}

.adminContainer {
    display: flex;
    margin: auto;
    height: 90vh;
}

.adminContainer button {
    width: 300px;
    display: flex;
}

.loginAdmin {
    display: block;
}

.adminCard {
    width: 300px;
    height: 125px;
    border-radius: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



a {
	text-decoration: none;
}


