.admin {
    min-height: 100vh;
}

.adminContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20%;
}

.adminContainer button {
    margin: 5px;
    width: 300px;
}

.adminCard {
    width: 300px;
    align-items: center;
    border-radius: 50px;
    margin: auto;
    justify-content: center;
    text-align: center;
}

a {
	text-decoration: none;
}


