.filter {
    margin: 0 auto;
    color: black;
    width: 200px;
}

.filterContainer {
    width: 90%;
    margin: 20px auto;
    min-height: 190px;
    height: 95%;
}


@media only screen and (max-width: 768px) {
    .filter {
        display: none;
    }
}