.filter {
    margin: 0 20px;
    color: white;
    width: 350px;
}

.filterContainer {
    width: 100%;
    margin: 20px auto;
    height: 95%;
}

.filterByPrice {
    align-items: center;
    display: flex;
    margin: 15px 0;
}

/* .filterByBrand {
    align-items: center;
} */

.filterButton {
    background: none;
    border: none;
    max-width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgba(253, 253, 253, 0.184);
}

@media only screen and (max-width: 768px) {
    .filter {
        display: flex;
        width: 100%;
        margin: 0;
    }
    .filterContainer {
        display: flex;
    }
    #outlined-basic{
        background-color: yellow;
        max-width: 3ch;
    }
}