.filter {
    margin: 0 auto;
    color: black;
    width: 400px;
}

.filterContainer {
    background-color: white;
    width: 90%;
    margin: 20px auto;
    min-height: 190px;
    height: 95%;
    box-shadow: 0 0 10px .2px rgba(255, 255, 255, 0.309);
}


@media only screen and (max-width: 768px) {
    .filter {
        display: none;
    }
}