 /* body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
     background-color: rgb(70, 20, 233); 
  }
   */
  
  html {
    box-sizing: border-box;
    /* background-image: url("https://wallpaperaccess.com/full/6547781.jpg"); */

    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  } 
  
  .column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    /* background-image: url("https://wallpaperaccess.com/full/6547781.jpg"); */

  }
  

  .card {
    
    box-shadow: 4px 4px 4px 4px rgba(11, 67, 222, 0.2);
    box-sizing: border-box;
    margin: 10px;
    border-radius: 50px;
    border: rgb(23, 8, 191);
    padding: 60px;
    border-width: 20px;
    align-items: center;
  }

  

  .aboutSection {
    padding: 50px;
    text-align: center;
    color: rgb(5, 5, 5);
  }
  .box1 {
    background-color: rgba(0,0,0,.5);
    color: #ffffff;
    border-radius: 10%;
}
  
  .container {
    padding: 0 16px;
    text-align: center;

  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  } 
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(12, 49, 212);
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
  }
  
  .button:hover {
    background-color: slateblue;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .text {
      text-align: center;
      color: #000;
  }

  .img {
    border-radius: 48px;
      width: 100%;
      height: 200px;
      border: 2px solid rgb(3, 26, 158); 
    }

    .div{
        padding-top: 2%;
        display: flex;
        position: relative;
        justify-content: center;
    }